VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

VITE_RESEND_API_KEY=
RESEND_API_KEY=

UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=

CONTACT_EMAIL=

VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=